@font-face {
  font-family: 'Ronzino';
  src: url('./fonts/Ronzino-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ronzino';
  src: url('./fonts/Ronzino-Oblique.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Ronzino';
  src: url('./fonts/Ronzino-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ronzino';
  src: url('./fonts/Ronzino-MediumOblique.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Ronzino';
  src: url('./fonts/Ronzino-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Ronzino';
  src: url('./fonts/Ronzino-BoldOblique.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: 'Ronzino', sans-serif;
  background: #f7f4f0;
}

@keyframes slideProgress {
  from { width: 0 }
  to { width: 100% }
}